.header__lang-link {
    color: white;
    text-decoration: none;
    transition: text-decoration .5s ease;
    padding: 0;
    margin: 0;
    align-self: end;
  }
  .header__lang-link:hover {
    text-decoration: underline;
  }
