.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  width: 460px;
  /* border: 1px solid floralwhite; */
  margin: 0;
  padding: 0;
  align-self: end;
}


@media screen and (max-width: 1279px) {
  .place__title  {
    
  }
}

@media screen and (max-width: 1023px) {
  .place__title  {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .place__title  {
     padding-left: 16px;
     font-size: 32px;
     line-height: 35px;
  }
}