.photo-grid {
  margin-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px 16px;
  justify-content: center;
  align-items: center;
}