.places {
    max-width: calc(100% - 148px * 2);
    margin: 92px auto 0;
}

@media screen and (max-width: 1079px) {
  .places  {
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
    .places  {
      max-width: calc(100% - 24px * 2);
      margin: 88px auto 0;
    }
  }
  
@media screen and (max-width: 767px) {
    .places  {
      max-width: 100%;
      margin: 64px auto 0;
    }
  }