.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  max-width: 360px;
  margin: 32px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .cover__subtitle   {
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto 0 auto;
  }
}