.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  box-sizing: border-box;
}

.place__paragraph:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph  {
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph  {
    padding: 0 16px 0;
    max-width: 484px;
    width: 100%;
    align-self: center;
  }
}

