.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer__copyright   {
    text-align: left;
    margin-top: 48px;
    line-height: 14px;
  }
}