.lead__image {
  /* width: 984px; */
  width: 100%;
  /* height: 615px; */
  margin-top: 64px;
  object-fit: fill;
  object-position: center;
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}