.lead__image {
  width: 100%;
  margin-top: 54px;
  object-fit: fill;
  object-position: center;
  display: block;
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}