.intro__text {
  max-width: 690px;
  /* height: 208px; */
  color: white;
  line-height: 163%;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}