.intro {
    margin: 92px 142px 0;
    /* border: 1px solid #fff; */

}

@media screen and (max-width: 1279px) {
    .intro  {
    margin: 92px 48px 0;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .intro  {
      margin: 88px 24px 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .intro  {
      margin: 64px 16px 0;
    }
  }