.cover__overlay {
    background: #2A2C2F;
    opacity: .3;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 1;
    transition: opacity .5s ease-in-out;
    text-decoration: none;
}
.cover:hover .cover__overlay {
    opacity: .8;
}
