.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  z-index: 2;
  /* border: 1px solid floralwhite; */
  max-width: 560px;
  text-align: center;
  margin: 0 auto;;
  align-self: center;
  text-rendering: optimizeLegibility;
  
}

@media screen and (max-width: 767px) {
  .cover__title   {
    font-size: 32px;
    line-height: 35px;
  }
}