.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 48px;
  column-gap: 40px;
  /* border: 1px solid floralwhite; */
  margin-bottom: 80px;
  justify-items: start;
  align-items: start
}