.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 48px;
  column-gap: 40px;
  border: 1px solid floralwhite;
  margin-bottom: 80px;
  /* justify-items: start;
  align-items: start */
}

@media screen and (max-width: 1279px) {
  .place  {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place   {
    grid-template-columns: 340px 1fr;
    margin-bottom: 72px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place   {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}