.intro__title {
  color: white;
  line-height: 58px;
  font-size: 54px;
  font-weight: 900;
  text-align: start;
  margin: 0;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
  .intro__title  {
    font-size: 32px;
    line-height: 35px;
  }
}